<template>
  <h2>Buchungsübersicht</h2>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  props: ["data"],
})
export default class Accounting extends Vue {}
</script>

<style></style>
