<template>
  <h2>Auswertung</h2>
</template>

<script>
import { Options, Vue } from "vue-class-component";
@Options({})
export default class Evaluation extends Vue{}
</script>

<style scoped>

</style>
