<template>
  <div class="overview">
    <p class="tableheading">kürzliche Buchungen</p>

  </div>
</template>

<script lang="ts">
import { Vue, Options } from "vue-class-component";

@Options({
  data() {
    return {
      list: [
        {
          name: "Hans",
          ort: "Leipzig",
        },
        {
          name: "Peter",
          ort: "daheim",
        },
      ],
    };
  },
  methods: {
    addList() {
      this.list.push({ name: "Sepp", ort: "die Alm" });
    },
  },
})
export default class Home extends Vue {}
</script>

<style>
.overview {
  margin: 20px auto;
  width: 780px;
}
.overview .tableheading {
  color: grey;
  padding: 15px;
  border-bottom: 1px solid grey;
}
</style>
