<template>
  <h1>{{ title }}</h1>
  <p>{{ sub_title}}</p>
  <div id="nav">
    <router-link class="btn btn-outline-secondary" to="/">Start</router-link>
    <router-link class="btn btn-outline-secondary" to="/Accounting">Buchung</router-link>
    <router-link class="btn btn-outline-secondary" to="/Evaluation">Auswertung</router-link>
    <router-link class="btn btn-outline-secondary" to="/About">Über</router-link>
  </div>
  <router-view />
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  components: {},
  data() {
    return {
      title: "Mein kleines Haushaltsbuch",
      sub_title: "Die unendliche Geschichte",
    };
  },
})
export default class App extends Vue {}
</script>

<style>
#app {
  /*font-family: Avenir, Helvetica, Arial, sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.nav-entry {
  width: 25px;
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
  background: lightgrey;
}
</style>
